<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<body>
    <header class="header">
        <figure class="header__logo">
            <img class="logo__img" src="/images/moffysports.jpg" alt="Logo Moffy Sports">
            <a href="/home">
                <h1 class="header__marca">MOFFY SPORTS</h1>
            </a>
        </figure>
        <nav class="header__navbar">
            <a class="navbar__enlace" href="/productos">Todas</a>
            <a class="navbar__enlace" href="/productos/adidas">Adidas</a>
            <a class="navbar__enlace" href="/productos/nike">Nike</a>
            <a class="navbar__enlace" href="/productos/pumas">Pumas</a>
        </nav>
        <div class="header__buttons">
            <a href="/carrito" class="header__icon">
                <i class="fa-solid fa-bag-shopping"></i>
            </a>
            <a href="/login" class="header__icon">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
        <div class="header__burgerButton">
            <button class="burgerButton" aria-label="Desplegar Menú">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>
    <main class="mainHome">
        <section class="dashboardHome">
            <article class="nuevosProductos">
                <img src="/images/adidasQUESTAR.jpg" alt="Adidas QUESTAR">
                <h2>NUEVOS INGRESOS</h2>
            </article>
            <article class="buscarProductos">
                <i class="fa-solid fa-magnifying-glass"></i>
                <h2>BUSCAR</h2>
            </article>
            <article class="item">
                <i class="fa-solid fa-credit-card"></i>
                <p>Podés pagar con tarjeta, débito o efectivo.</p>
            </article>
            <article class="item">
                <i class="fa-solid fa-truck"></i>
                <p>Envío gratis desde $ 16.000</p>
            </article>
            <article class="item">
                <i class="fa-solid fa-shield-halved"></i>
                <p>Seguridad, de principio a fin</p>
            </article>
        </section>
        <section class="sectionQuienesSomos">
            <div class="quienesSomos__container">
                <figure class="quienesSomos__figure">
                    <img src="/images/homeQS.jpg" alt="Imagen descriptiva de quienes somos de Moffy Sport" />
                </figure>
                <div class="quienesSomos__containerParrafos">
                    <h2 class="quienesSomos__titulo">¿QUIENES SOMOS?</h2>
                    <p>Somos una <em class="parrafo__em">tienda especializada en zapatillas deportivas</em> que fusiona
                        la moda, la comodidad y el estilo en cada paso que das.</p>
                    <p>En nuestro sitio, te ofrecemos una selección cuidadosa de las últimas colecciones de zapatillas
                        deportivas de marcas destacadas como Adidas, Nike, Puma, y más.</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>