<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maximiliano Joaquin Carrillo y Sofia Trinidad Yañez">
    <meta name="description" content="Las mejores zapatillas deportivas deportivas están en Moffy Sports">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Moffy Sports, MoffySports, Moffy">
    <title>Moffy Sports</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/750a5cf973.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <figure class="header__logo">
            <img class="logo__img" src="/images/moffysports.jpg" alt="Logo Moffy Sports">
            <h1 class="header__marca">MOFFY SPORTS</h1>
        </figure>
        <nav class="header__navbar">
            <a class="navbar__enlace" href="/todas">Todas</a>
            <a class="navbar__enlace" href="/adidas">Adidas</a>
            <a class="navbar__enlace" href="/nike">Nike</a>
            <a class="navbar__enlace" href="/pumas">Pumas</a>
        </nav>
        <div class="header__buttons">
            <button class="header__button" aria-label="Carrito de Compras">
                <i class="fa-solid fa-bag-shopping"></i>
            </button>
            <button class="header__button" aria-label="Usuario">
                <i class="fa-solid fa-user"></i>
            </button>
        </div>
        <div class="header__burgerButton">
            <button class="burgerButton"  aria-label="Desplegar Menú">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>
</body>
<footer class="footer">
    <div class="footer-logo">
        <figure class="header__logo">
            <img class="logo__img" src="/images/moffysports.jpg" alt="Logo Moffy Sports">
            <h1 class="header__marca">MOFFY SPORTS</h1>
        </figure>
    </div>
    <p>Desarrollado con amor por M&S</p>
    <div class="footer__redes">
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
    </div>
</footer>

</html>