<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maximiliano Joaquin Carrillo y Sofia Trinidad Yañez">
    <meta name="description" content="Las mejores zapatillas deportivas deportivas están en Moffy Sports">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Moffy Sports, MoffySports, Moffy">
    <title>Moffy Sports</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/750a5cf973.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <figure class="header__logo">
            <img class="logo__img" src="/images/moffysports.jpg" alt="Logo Moffy Sports">
            <h1 class="header__marca">MOFFY SPORTS</h1>
        </figure>
        <nav class="header__navbar">
            <a class="navbar__enlace" href="/todas">Todas</a>
            <a class="navbar__enlace" href="/adidas">Adidas</a>
            <a class="navbar__enlace" href="/nike">Nike</a>
            <a class="navbar__enlace" href="/pumas">Pumas</a>
        </nav>
        <div class="header__buttons">
            <button class="header__button" aria-label="Carrito de Compras">
                <i class="fa-solid fa-bag-shopping"></i>
            </button>
            <button class="header__button" aria-label="Usuario">
                <i class="fa-solid fa-user"></i>
            </button>
        </div>
        <div class="header__burgerButton">
            <button class="burgerButton"  aria-label="Desplegar Menú">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>
        <main>
          <section class="search-order">
            <div class="search">
                <label for="site-search">Buscar:</label>
                <input type="search" id="site-search" name="q" />
            </div>
            <div class="order">
                <label for="ice-cream-choice">Ordenar por:</label>
                <input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" />
                <datalist id="ice-cream-flavors">
                    <option value="Mayor precio"></option>
                    <option value="Menor precio"></option>
                    <option value="Mujer"></option>
                    <option value="Hombre"></option>
                    <option value="Nuevos ingresos"></option>
                </datalist>
            </div>
          </section>
          <section class="producto-container">
            <article class="categoria">
                <h3>Categoria</h3>
                <ul>
                  <li>Todo</li>
                  <li>Hombre</li>
                  <li>Mujer</li>
                  <li>Unisex</li>
                  <li>Ninos</li>
                </ul>
              </article>
              <article class="img-productos">
                <img src="https://i.pinimg.com/736x/fe/8b/e3/fe8be3da5bf24730367e046328787aea.jpg" alt="Adidas Campus" title="Adidas Campus">
                <img src="https://i.pinimg.com/564x/d1/4b/2b/d14b2b0eebf76eca17622118105fdc0e.jpg" alt="Adidas Forum Low Azules" title="Adidas Forum Low Azules">
                <img src="https://i.pinimg.com/564x/99/44/c4/9944c42a97b70a367adc7d4239510d96.jpg" alt="Adidas Hoops 3.0" title="Adidas Hoops 3.0" >
                <img src="https://i.pinimg.com/564x/c2/78/bd/c278bd5fe5904952908d39609d813e48.jpg" alt="Nike Air Force 1" title="Nike Air Force 1">
                <img src="https://i.pinimg.com/564x/71/5d/43/715d43226bc72abc34ddffd4670da1e6.jpg" alt="Nike Dunk Low" title="Nike Dunk Low">
                <img src="https://i.pinimg.com/564x/7f/9c/b8/7f9cb87cf3a3c947263cde020a92ea12.jpg" alt="Nike Blazer Mid '77" title="Nike Blazer Mid '77">
                <img src="https://i.pinimg.com/564x/9b/30/55/9b3055bdf6dbcf57e1f1da28f43d7ebd.jpg" alt="Puma Mayze Swirl" title="Puma Mayze Swirl">
                <img src="https://i.pinimg.com/564x/30/1d/37/301d37e831750529ef87194a4e6484bd.jpg" alt="Puma Shuffle" title="Puma Shuffle">
                <img src="https://i.pinimg.com/564x/15/80/5b/15805b27d99b44d7aba879124d53c730.jpg" alt="Puma 180" title="Puma 180">
                <img src="https://i.pinimg.com/564x/78/21/a2/7821a2647643f544692cb63f4e6678b6.jpg" alt="Nike Air Jrdan 1" title="Nike Air Jrdan 1">
                <img src="https://i.pinimg.com/564x/c6/0d/c3/c60dc36673c18d8784a47bb21bc0d45e.jpg" alt="Nike M2K Tekno" title="Nike M2K Tekno">
                <img src="https://i.pinimg.com/564x/4f/b1/7d/4fb17d9f0a879e4c43337de8f0bd644d.jpg" alt="Nike Dunk High 1985" title="Nike Dunk High 1985">
              </article>
          </section>
        </main>
     
      
    <footer class="footer">
        <div class="footer-logo">
            <figure class="header__logo">
                <img class="logo__img" src="/images/moffysports.jpg" alt="Logo Moffy Sports">
                <h1 class="header__marca">MOFFY SPORTS</h1>
            </figure>
        </div>
        <p>Desarrollado con amor por M&S</p>
        <div class="footer__redes">
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"
                aria-label="Instagram de Moffy Sports"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"
                aria-label="Facebook de Moffy Sports"><i class="fa-brands fa-square-facebook"></i></i></a>
            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" aria-label="Twitter de Moffy Sports"><i
                    class="fa-brands fa-square-x-twitter"></i></a>
        </div>
    </footer>
</body>

</html>