<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maximiliano Joaquin Carrillo y Sofia Trinidad Yañez">
    <meta name="description" content="Las mejores zapatillas deportivas deportivas están en Moffy Sports">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Moffy Sports, MoffySports, Moffy">
    <title>Moffy Sports</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/750a5cf973.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="main-login">
      <section class="form-login">
        <h1 class="login-titulo">BIENVENIDO A MOOFY SPORT</h1>
        <form>

            <div>
                <label for="email" class="formLabel">Correo electrónico</label>
                <input type="email" placeholder="max11carrillo@gmail.com" id="email" class="formInput">
            </div>

            <div>
                <label for="password" class="formLabel">Contraseña</label>
                <input type="password" placeholder="maxcarrillo123" id="password" class="formInput">
            </div>

            <button class="boton" type="submit">Iniciar Sesión</button>

        </form> 
        <p>¿No tenés cuenta? <a href="/registro" class="link-registro">Registrarme</a></p>
      </section>
    </main>
</body>
<%- include('../partials/footer') %>
</html>
