<footer class="footer">
    <div class="footer-logo">
        <figure class="header__logo">
            <img class="logo__img" src="/images/moffysports.jpg" alt="Logo Moffy Sports" loading="lazy">
            <h1 class="header__marca">MOFFY SPORTS</h1>
        </figure>
    </div>
    <p>Desarrollado con amor por M&S</p>
    <div class="footer__redes">
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"
            aria-label="Instagram de Moffy Sports"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"
            aria-label="Facebook de Moffy Sports"><i class="fa-brands fa-square-facebook"></i></i></a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"
            aria-label="Twitter de Moffy Sports"><i class="fa-brands fa-square-x-twitter"></i></a>
    </div>
</footer>