<header class="header">
    <figure class="header__logo">
        <img class="logo__img" src="/images/moffysports.jpg" alt="Logo Moffy Sports">
        <a href="/">
            <h1 class="header__marca">MOFFY SPORTS</h1>
        </a>
    </figure>
    <nav class="header__navbar">
        <a class="navbar__enlace" href="/productos">Todas</a>
        <a class="navbar__enlace" href="/productos/adidas">Adidas</a>
        <a class="navbar__enlace" href="/productos/nike">Nike</a>
        <a class="navbar__enlace" href="/productos/pumas">Pumas</a>
    </nav>
    <div class="header__buttons">
        <a href="/carrito" class="header__icon">
            <i class="fa-solid fa-bag-shopping"></i>
        </a>
        <a href="/login" class="header__icon">
            <i class="fa-solid fa-user"></i>
        </a>
    </div>
    <div class="header__burgerButton">
        <button class="burgerButton" aria-label="Desplegar Menú">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>