.content-detalle
{
  display:grid;
  grid-template-columns: 1fr 3fr;
}

.img-detalle{
  display: grid;
  justify-content: center;
}

.img-detalle img{
  height: 600px;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 20px;
}

.detalle{
  box-sizing: border-box;
  padding-left: 20px;
}

.detalle button{
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 10px;
}


.zapatillas-colores{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  box-sizing: border-box;
}

.zapatillas-colores img{
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.container-descripcion{
    padding-left:20px;
}

.container-sugerencias{
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;

}

.container-sugerencias h3{
    margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 26;
    justify-self: start;
  }

.container-sugerencias img{
    display: grid;
    grid-template-columns: (auto-fill, minmax(200px, 1fr));
    height: 400px;
    width: 300px;
}

