.content-detalle
{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 16px;
}

.img-detalle{
  display: grid;
  justify-content:flex-end;
}

@media(max-width:975px){
  .img-detalle{
    justify-content:center;
  }
}

.img-detalle img{
  height: 600px;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 20px;
}

.detalle{
  box-sizing: border-box;
  align-self: flex-start;
  padding: 16px;
}

.detalle button{
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 5px;

    &:hover{
      background-color: rgba(255, 255, 255, 0.5);
      color: blanchedalmond;
    }
}



.zapatillas-colores{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin:0 auto;
}

.zapatillas-colores img{
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.container-descripcion{
    padding-left:20px;
}



.container-sugerencias{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-left: 16px;
  margin-right: 16px; 
}


.sugerencias h3{
    margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 6;
    margin-left: 16px;
  }

  .container-sugerencias img{
    width:100%;
    border-radius: 10px;
    height: 300px;
  }


