
*{
   margin:0;
    padding:0;
    box-sizing: border-box;
}
.content-detalle{
    width: 100%;
}

.img-detalle{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img-detalle img{
    width: 70%;
    border-radius: 10px;
}

.zapatillas-colores{
    margin-top: 16px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.zapatillas-colores img{
  box-sizing: border-box;
    width: 25%;
    margin: 5px;
    border-radius: 3px ;
}

.detalle{
  box-sizing: border-box;
  width: 100%;
}

.detalle h1{
  font-size: 25px;
  margin-left: 15px;
}

.detalle p{
  margin-left: 15px;
  margin-top:10px;
}


.button{
  width:90%;
  display: flex;
  margin: 10px;
}

.button button {
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin:5px;

  &:hover{
    background-color: #FF006B;
    color:white
  }
}



.button-carrito{
  box-sizing: border-box;
  border-radius: 8px;
  border:none;
  padding:5px;
  margin:15px;
}

.button-carrito:hover{
  background-color: #FF006B;
  color:white
}

.container-descripcion{
  margin-inline: auto;
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-descripcion h3{
  margin: 15px;
}

.container-descripcion p{
  margin: 15px;
}

.sugerencias h3{
  margin: 15px;
}

.img-sugerencias{
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.img-sugerencias img{
  object-fit: cover;
  height: 150px;
  border-radius: 10px;
}

@media (min-width: 780px) {
  .content-detalle{
    width: 100%;
    display:flex;
    flex-direction: row;

  }
  .img-detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
  }
  .zapatillas-colores{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .img-sugerencias{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .img-sugerencias img{
    max-width: 20%;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
  }
}



@media(min-width:1200px){
    .img-detalle img{
      width: 50%;
      border-radius: 10px;
    }
   .zapatillas-colores{
    width: 50%;
   }
   .zapatillas-colores img{
      box-sizing: border-box;
      width: 20%;
      margin: 5px;
      border-radius: 3px ;
      transition: all 150ms ease-out;

      &:hover{
        transform: scale(1.5);
      }
    }

    

    .detalle h1{
      font-size: 35px;
      margin-left: 15px;
    }
    
    .detalle p{
      margin-left: 15px;
      margin-top:10px;
      font-size: 20px;
    }
  
    .img-sugerencias img{
      max-width: 15%;
      height: 250px;
      margin: 10px;
      border-radius: 10px;
    }
}


