body {
    background: #111;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-display: swap;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto; 
}

footer {
    flex-shrink: 0;
}

.header__info{
    padding-block: 8px;
    padding-inline: 16px;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    & *{
        margin: 0;
    }

    & > div > a{
        text-decoration: none;
        color: #00ff85;
        &:hover{
            text-decoration: underline;
        }
    }

    & > div > a + a {
        margin-left: 8px;
    }
}

.header {
    box-sizing: border-box;
    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__logo {
    margin: 0;

    display: flex;
    align-items: center;
    gap: 10px;

    &>a {
        text-decoration: none;
        color: #fff;
    }
}

.header__marca {
    padding: 0;
    margin: 0;

    font-size: 1.3rem;
}

.logo__img {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.15)
}

.navbar__enlace {
    color: #fff;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

.navbar__enlace+.navbar__enlace {
    margin-left: 10px;
}

.header__buttons {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.header__icon {
    display: block;
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    &>i {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.75);
    }

    &:active {
        background: rgba(255, 255, 255, 0.5);
    }
}

.header__burgerButton {
    display: none;
}

.burgerButton {
    height: 40px;
    width: 40px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        color: rgba(255, 255, 255, 0.50);
    }
}

@media (width < 640px) {

    .header__navbar {
        display: none;
    }

    .header__buttons {
        display: none;
    }

    .header__burgerButton {
        display: block;
        flex-grow: 1;
        text-align: end;
    }
}

/*footer*/
.footer {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (width < 640px) {
    .footer {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}


.footer p {
    display: grid;
    justify-items: center;
}


.footer__redes {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: end;
}

.fa-instagram {
    color: #C13584;
    font-size: 30px;

    &:hover {
        color: #d8559f;
    }
}

.fa-square-facebook {
    color: #3b5998;
    font-size: 30px;

    &:hover {
        color: #6f9cf5;
    }
}

.fa-square-x-twitter {
    color: white;
    font-size: 30px;

    &:hover {
        color: rgba(255, 255, 255, 0.50);
    }
}

.button--pink {
    padding: 5px;
    width: 100%;

    background-color: #a80046;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        background-color: rgb(168, 0, 70, 0.9);
    }

    &:active {
        background-color: rgb(168, 0, 70, 0.95);
    }
}

.color--secondary {
    color: #545454;
}

/* Formularios */

form {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formLabel {
    font-size: 0.8rem;
}

.formInput {
    padding: 8px 0;
    border: none;
    color: #fff;
    background: none;
    outline: none;
    border-bottom: 2px solid #fff;

    &:user-valid {
        border-bottom: 2px solid #00ff85;
    }

    &:user-invalid {
        border-bottom: 2px solid #ff0037;
    }


    &:-webkit-autofill {
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0px 1000px #111 inset;
    }
}

.textArea {
    padding: 8px 4px;
    height: 100px;
    resize: none;
    border: none;
    color: #fff;
    background: rgb(255, 255, 255, 0.1);
    outline: none;
}

.button--cyan {
    padding-block: 8px;
    width: 100%;

    border: none;
    border-radius: 8px;
    background-color: #00F0FF;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.9;
    }
}

.button--white {
    padding-block: 8px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 0.95;
    }
}

.formSelect {
    padding: 2px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
}

.labelRequired {
    color: #ff0037;
}

.label--error{
    margin-top: 4px;
    color: #ff0037;
}