body {
    background: #111;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    box-sizing: border-box;
    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}


.header__logo {
    margin: 0;

    display: flex;
    align-items: center;
    gap: 10px;
}

.header__marca {
    padding: 0;
    margin: 0;

    font-size: 1.3rem;
}

.logo__img {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.15)
}

.navbar__enlace {
    color: #fff;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

.navbar__enlace + .navbar__enlace {
    margin-left: 10px;
}

.header__buttons {
    flex-grow: 1;
    text-align: end;
}

.header__button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    &:hover {
        background: rgba(255, 255, 255, 0.75);
    }

    &:active {
        background: rgba(255, 255, 255, 0.5);
    }
}

.header__burgerButton{
    display: none;
}

.burgerButton{
    height: 40px;
    width: 40px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover{
        color: rgba(255, 255, 255, 0.50);
    }
}

@media (width < 640px) {

    .header__navbar{
        display: none;
    }

    .header__buttons{
        display: none;
    }

    .header__burgerButton{
        display: block;
        flex-grow: 1;
        text-align: end;
    }
}